nav {
  display: flex;
  flex-direction: row;
  padding: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px rgb(182, 182, 182);
}

.dropdown {
  margin-left: auto;
}

.dropbtn {
  background-color: rgb(155, 155, 155);
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
}

/* .country-search-input{
    border-radius: 5px;
    border-style: solid 1px black;
} */